<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Amazon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
    <div class="grid-container">
    <header class="row">

        <div>
        <a class="brand" href="index.html">Amazon</a>
        </div>

        <div>
        <a href="cart.html">Cart</a>
        <a href="Signin.html">Sign In</a>
        </div>

    </header>

    <main>
    <div class="row center">
        <div class="card">
                <a href="product.html">
                <img class="medium" src="./public/images/p1.jpg" alt="product"/>
                </a>
            </div>
            <div class="card-body">
                <a href="product.html">
                <h2>Nike Slim Shirts</h2>
                </a>
            <div class="price">
            $120
        </div>
        </div>
    </div>
    </main>
    <footer class="row center">All Right Reserved</footer>
        
        <script src="" async defer></script>
    </div>
    </body>
</html>